<div class='col-lg-12 col-md-12 margin-top-xlg'>
<div class='col-lg-6 col-md-6 text-center'>
	<div class='col-lg-12 col-md-12'>
		<%= link_to "Create a new family",new_family_path,:class=>'create-family-btn big-btn btn' %>
	</div>
	<div class='col-lg-12 col-md-12 margin-top-md'>
		<small>If you are the first member of your family in this website, create your family and share your family access code with your family members</small>
	</div>
</div>
<div class='col-lg-6 col-md-6 text-center'>
	<div class='col-lg-12 col-md-12'>
		<%= link_to "Join existing family",join_family_path,:class=>'join-family-btn big-btn btn' %>
	</div>
	<div class='col-lg-12 col-md-12 margin-top-md'>
		<small>Enter the access code shared by your family member and be part of your family here.</small>
	</div>
</div>
</div>